<ng-container *ngIf="isMiddleLoginLayout">
    <div class="login-wrapper w-100 d-flex flex-grow-1 align-items-center justify-content-center">
        <div class="bg-white p-4 login-container d-flex flex-column">
            <div class="login-logo my-3 my-lg-4 mx-auto">
                <img class="w-100" src="/assets/images/login-logo.svg" alt="login-logo" />
            </div>
            <ng-template [ngTemplateOutlet]="loginform"></ng-template>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="isRightLoginLayout">
    <div class="bg-white box-shadow d-flex flex-grow-1 flex-column align-items-center justify-content-center w-100 p-4">
        <ng-template [ngTemplateOutlet]="loginform"></ng-template>
    </div>
</ng-container>

<ng-template #loginform>
    <form [formGroup]="form" class="w-100 col-12 col-xs-7 col-sm-12">
        <div class="text-center f-semibold text-size-md mb-3 mb-lg-4 color-text">LOGIN TO YOUR ACCOUNT</div>
        <p class="position-relative">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-icon class="color-brand" matSuffix>mail</mat-icon>
            </mat-form-field>
            <app-field-error-disply fieldLabelText="Email" [errors]="isFieldValid('email')"></app-field-error-disply>
        </p>
        <p class="position-relative">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
                <mat-icon class="color-brand" matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <app-field-error-disply fieldLabelText="Password" [errors]="isFieldValid('password')"></app-field-error-disply>
        </p>

        <div class="d-flex align-items-center justify-content-end">
            <a href="javascript:void()" class="color-brand text-size-sm f-semibold" routerLink="/forgot-password">Forgot
                    Password?</a>
        </div>
        <div class="text-center">

            <button type="submit" (click)="onSubmit()" class="rounded f-semibold color-white w-75 mx-auto my-4 my-lg-5" mat-raised-button>LOGIN</button>
        </div>
    </form>
    <div class="text-center">
        <p class="color-text text-size-sm mb-0">Don't have an account?</p>
        <a href="javascript:void()" class="color-brand text-size-sm f-semibold" routerLink="/register">Create an
                account</a>
    </div>
</ng-template>