<section class="d-flex flex-grow-1 py-1 p-lg-0 logo-section flex-column">
    <div class="login-logo my-3 my-lg-4 mx-auto">
        <img class="w-100" src="/assets/images/login-logo.svg" alt="login-logo" />
    </div>
    <h2 class="color-white f-semibold text-center">Welcome to Smart FM</h2>
    <p class="color-white text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper
        nisl erat, vel
        convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra. </p>
</section>