<!-- <label class="d-inline-block d-xl-none hamburger-close" for="hamburger">
    <i class="icon icon-close text-size-lg position-absolute"></i>
</label> -->
<nav role="navigation" class="w-100">
    <ul class="nav flex-column">
        <li class="nav-item active">
            <a class="nav-text d-flex align-items-center px-3 py-2 position-relative">
                <i class="fa fa-folder-o mr-3 text-size-lg"></i>
                <span class="text-size-sm">Menu</span>
                <i class="fa fa-chevron-right text-size-md"></i>
            </a>
            <ul class="nav sub-nav slide-up" [ngClass]="{'slide-down': true}">
                <li class="nav-item">
                    <a class="nav-text d-flex align-items-center px-3 py-2">
                        <i class="fa fa-folder-o mr-3 text-size-lg"></i>
                        <span class="text-size-sm">sub-Menu</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-text d-flex align-items-center px-3 py-2">
                        <i class="fa fa-folder-o mr-3 text-size-lg"></i>
                        <span class="text-size-sm">sub-Menu</span>
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-text d-flex align-items-center px-3 py-2">
                <i class="fa fa-folder-o mr-3 text-size-lg"></i>
                <span class="text-size-sm">Menu</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-text d-flex align-items-center px-3 py-2">
                <i class="fa fa-folder-o mr-3 text-size-lg"></i>
                <span class="text-size-sm">Menu</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-text d-flex align-items-center px-3 py-2">
                <i class="fa fa-folder-o mr-3 text-size-lg"></i>
                <span class="text-size-sm">Menu</span>
            </a>
        </li>
    </ul>
</nav>